 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


main {
    flex: 1 0 auto;
}
.bac_n{
	background-color:#ff9100;
}
.imglay{
	position: relative;

}
.m-a{
	margin: 50px 200px;
}
.overlay{
	background-color:black;
	opacity: 0.4;
	height: 500px;
	position: absolute;
	width: 100%;
}
.hie-mar{
	max-height: 350px;
	margin: 50px 0;

}
.m-r{
	margin-top:-40px;
}
.m-b{
	align-content:  center;
}
.m-t-2{
	margin-top:90px;
}
.m-t-r-2{
	margin:150px 0 50px 300px;
}
.porder{
	border:2px solid white;
	height: 300px;
	width: 500px;
	margin: 100px auto;
	color: white;
	z-index: 999999;

}
.porder-2{
	border:2px solid white;
	height: 300px;
	width: 900px;
	margin: 100px auto;
	color: white;
	z-index: 999999;

}